<form class="deleteForm" method="post" action="{{ path('app_text_delete', {'id': text.id}) }}">
	<input type="hidden" name="_method" value="DELETE">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ text.id) }}">
	<button class="btn btn-danger">Eliminar</button>
</form>
