{{ form_start(form, {'attr': {'class': 'editTextForm', 'data-url': path('app_text_edit', {'id': textId})}}) }}
{{ form_widget(form) }}
<button class="btn btn-primary">{{ button_label|default(buttonText) }}</button>
{{ form_end(form) }}
