{% extends 'AdminPanel/index.html.twig' %}

{% block title %}Background Image index
{% endblock %}

{% block body %}{% endblock %}

{% block main %}
	<section class="row justify-content-center dashboard-section">
		<h1 class="col-10">Bienvenido al panel de de administraci칩n de Tecmalaga</h1>
		<p class="col-10">Por favor para comenzar la administraci칩n p치gina web acceda a una de las siquientes pesta침as ubicadas en el menu lateral izquierdo</p>
	</section>
{% endblock %}
