<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Welcome!
            {% endblock %}
        </title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>

        <div
            class="d-flex" id="wrapper">

            <!-- Sidebar -->
            <div class="border-right blue-color" id="sidebar-wrapper">
                <div class="sidebar-heading">Tecmalaga SL
                </div>
                <div class="list-group list-group-flush">
                    <a href="/" class="list-group-item list-group-item-action blue-color">Imagenes</a>
                    <a href="{{ path('app_text_index') }}" class="list-group-item list-group-item-action blue-color">Textos</a>
                    <a href="/company" class="list-group-item list-group-item-action blue-color">Productos</a>
                    <a href="/company" class="list-group-item list-group-item-action blue-color">Caracteristicas</a>
                </div>
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">

                <nav class="navbar grey-color navbar-expand-lg navbar-light border-bottom">
                    <button class="btn btn-light" id="menu-toggle">Menu</button>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Home
                                    <span class="sr-only">(current)</span>
                                </a>
                                <a class="nav-link mobile-links" href="/sector">Sectors</a>
                                <a class="nav-link mobile-links" href="/company">Companies</a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <main class="main container-fluid"> {% block main %}{% endblock %}

                    </main>
                </div>
                <!-- /#page-content-wrapper -->

            </div>
            {% block body %}{% endblock %}
            {% block javascripts %}
                {{ encore_entry_script_tags('app') }}
            {% endblock %}
        </body>
    </html>
