{% extends 'image/index.html.twig' %}

{% block title %}Nueva Imagen
{% endblock %}

{% block body %}{% endblock %}

{% block main %}
	<h1>Crear Nueva Imagen</h1>

	{{ include('image/_form.html.twig') }}
{% endblock %}
