{% extends 'footer/index.html.twig' %}

{% block title %}Editar Elementos
{% endblock %}

{% block body %}{% endblock %}

{% block main %}
	<h1>Editar elementos de pie de página</h1>

	{{ include('footer/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
