{% extends 'product/index.html.twig' %}

{% block title %}Editar Producto
{% endblock %}

{% block body %}{% endblock %}

{% block main %}
	<h1>Editar Image de fondo</h1>

	{{ include('backgroundImage/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
