{% extends 'AdminPanel/index.html.twig' %}

{% block title %}Background Image index
{% endblock %}

{% block body %}{% endblock %}

{% block main %}
	<section class="section-new row justify-content-end"></section>
	{{ include('/backgroundImage/table-backgroundImage.html.twig') }}
{% endblock %}
