{% extends 'characteristic/index.html.twig' %}

{% block title %}Editar Característica
{% endblock %}

{% block body %}{% endblock %}

{% block main %}
	<h1>Editar Característica</h1>

	{{ include('characteristic/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
