{% extends 'slider/index.html.twig' %}

{% block title %}Nuevo Slider
{% endblock %}

{% block body %}{% endblock %}

{% block main %}
	<h1>Crear Nuevo Slider</h1>

	{{ include('slider/_form.html.twig') }}
{% endblock %}
