{% extends 'slider/index.html.twig' %}

{% block title %}Editar Slider
{% endblock %}

{% block body %}{% endblock %}

{% block main %}
	<h1>Editar Slider</h1>

	{{ include('slider/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
