{% extends "components/table/table.html.twig" %}

{% block thead %}
	<tr class="blue-color white-color">
		<th scope="col">Imagen</th>
		<th scope="col"></th>
	</tr>
{% endblock %}

{% block tbody %}
	{% for id, slider in my_pager.currentPageResults %}
		<tr>
			<td class="slider-column">
				<div>
					<img class="d-block w-100" src="{{ asset('images/' ~ slider.image.fileName) }}" alt="">
				</div>
			</td>
			<td>
				<div class="row justify-content-end full-width">
					<a class="margin-between-colmuns" href="{{ path('app_slider_edit', {'id': slider.id}) }}">
						<button class="btn btn-secondary">
							<i class="fa fa-edit"></i>
							Editar</button>
					</a>
					<button class="btn btn-danger" data-toggle="modal" data-target="#{{ 'removeModal' ~ slider.id }}">
						<i class="fa fa-trash"></i>
						Eliminar</button>
					{{ include('/slider/modal-slider-delete.html.twig', {'id': 'removeModal' ~ slider.id}) }}</div>
			</td>
		</tr>
	{% endfor %}
{% endblock %}
