<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Tecmalaga SL
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	{% if dark is defined %}
		<body class="{{ dark }}">
		{% else %}
			<body>
			{% endif %}
			<main>
				{% block main %}{% endblock %}
			</main>
			{% block body %}{% endblock %}
			{% block javascripts %}
				{{ encore_entry_script_tags('app') }}
			{% endblock %}
		</body>
	</html>
</html></body></html>
