<section class="table-section">
    <div class="table-responsive">
        <table class="table table-hover the-table">
            <thead>
                {% block thead %}{% endblock %}
            </thead>
            <tbody>
                {% block tbody %}{% endblock %}
            </tbody>
        </tbody>
    </table>
</div></section>
